body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /*Highlight the things*/
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  i {
    color: lightsalmon;
  }
  
   /*width size max 600px before on click code*/
  @media screen and (max-width: 700px) {
    .topnav {flex-direction: column;}
    .topnav a { text-align: left;}
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        position: absolute;
        right: 0;
      display: block;
    }
    .topnav.responsive a {
        display: block;
      }
  }
  
