.container {
    background-color: aliceblue;
    width: 1024px;
    margin: auto;
    padding: 10px;
}


/* Header Box */
.header {
    display: flex;
    text-align: center;
    background-color:aliceblue;
    justify-content: space-between;
    align-items: center;
    padding :20px;
}
/* HeaderBox-Logo */
#logo {
    padding : 5px;
    background-color: azure;
}
/* HeaderBox-Phone */
#phone {
    background-color: azure;
    padding :5px;
}
#phone h2 {
    margin : 0%;
}
#phone a {
    text-decoration: none;
    color :rgb(1, 50, 80);
}
#phone a:hover{
    text-decoration: underline;
    color: rgb(98, 132, 98);
}


/* Menu Box */
.menu {
    display: flex;
    background-color: #3a3b3c;
    text-align: center;
    justify-content: flex-end;
}
.menu a {
    color:whitesmoke;
    text-decoration: none;
    padding: 14px 25px;
}
.menu a:hover {
    color: lightgray;
    text-decoration: underline;
}
/* MenuBox-3sub boxes */
#imageb{
    display: flex;
}
#featb{
    display: flex;
}
#moreb {
    display: flex;
}


/*Image SlideShow*/
.slidebox {
    text-align: center;
    margin: auto;
}
h1 { 
    padding: 20px 25px;
}
.slides {
    padding: 0;
    width: 800px;
    height: 550px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.slides input { display: none; }
.slide-container { display: block; }
.slide {
    top: 0;
    opacity: 0;
    width: 800px;
    height: 550px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
}
.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover + .nav label { opacity: 0.5; }
.nav label:hover { opacity: 1; }
.nav .next { right: 0; }
input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}
