.container{
    max-width: 1024px;
    background-color: cornsilk;
    padding: 10px;
    margin: auto;
}

/*Header*/
.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}
/*Left- Logo*/
#logo {
    padding: 5px;
}
/*Right- Hp & Menu*/
.rightb {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-end;
    width: min-content;
}
/*Right- Hp*/
#hp {
    display: flex;
    align-items: flex-end;
    margin-top: 5%;
}
#hp h2 {
    margin : 0%;
}
#hp a {
    text-decoration: none;
    color :rgb(95, 68, 11);
}
#hp a:hover{
    text-decoration: underline;
    color: rgb(98, 132, 98);
}
/*Right- Menu*/
#menu {
    display: flex;
    margin-top: 3%;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.662);
}
#menu a {
    color:whitesmoke;
    text-decoration: none;
    padding: 14px 25px;
}
#menu a:hover {
    color: lightgray;
    text-decoration: underline;
}
/* MenuBox-3sub boxes */
#menub{
    display: flex;
}
#imageb{
    display: flex;
}
#moreb {
    display: flex;
}


/*Image Slider*/
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 40s slider infinite;
}
#slider figure img {
    width: 10%;
    float: left;
}
@keyframes slider {
    0% {
        left:0;
    }
    10% {
        left:0;
    }
    20% {
        left:-100%;
    }
    30% {
        left:-200%;
    }
    40% {
        left:-300%;
    }
    50% {
        left:-400%;
    }
    60% {
        left:-500%;
    }
    70% {
        left:-600%;
    }
    80% {
        left:-700%;
    }
    90% {
        left:-800%;
    }
    100% {
        left:-900%;
    }
}



/*Another Type/////////
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
    0% {
        left:0;
    }
    10% {
        left:0;
    }
    20% {
        left:-100%;
    }
    30% {
        left:-200%;
    }
    40% {
        left:-300%;
    }
    50% {
        left:-400%;
    }
    60% {
        left:-500%;
    }
    70% {
        left:-600%;
    }
    80% {
        left:-700%;
    }
    90% {
        left:-800%;
    }
    100% {
        left:-900%;
    }
}
* {
  box-sizing: border-box;
}
div#captioned-gallery { 
    overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 1000%;
  margin: 0;
  left: 0;
  font-size: 0; 
  animation: 30s slidy infinite; 
}
figure.slider img { 
    width: 10%; 
    float: left;
}
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}*/
