body {
    margin: 0;
    font-family: 'Piazzolla', serif;
}

#container {margin: auto;}
h1 {font-weight: 800;}
h2, h3 {font-weight: 700;}
p {font-weight: 500;}
a:hover {
    animation: .5s horizontal-shaking infinite alternate;
}

/*MainPage*/
#mainpagefd {
    width: 100%;
    display: flex;
}
#mpfdbigleft {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../images/switzerlandchocolate.jpg);
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*MP-Header*/
#header {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 1.5%;
    justify-content: space-between;
}
/*Header-Logo*/
#logo {
    width: 50%;
    margin: auto;
    margin-left: 10%;
}
#logo img {width: 13%;}

/*Header-Menu*/
.menu {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 1.5%;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 120%;
}
.menu .icon {display: none;}

/*Header-Menu-DisplayOut*/
.overlay {
    height: 100%;
    /*show for whole screen*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    /*when open use 0.5 second*/
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 189%;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*MenuBox*/
i {
    display: flex;
    color: #FFFFFF;
    padding-left: 20px;
}
.homeb {
    display: flex;
    padding-left: 20px;
}
.placesb {
    display: flex;
    padding-left: 20px;
}
.trainsb {
    display: flex;
    padding-left: 20px;
}
.hotelsb {
    display: flex;
    padding-left: 20px;
}
.foodsb {
    display: flex;
    padding-left: 20px;
}
/*MP-LeftTitle*/
#mptitle {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-top: 0;
    margin-bottom: 16%;
    margin-left: 50%;
    color: #ecf9fe;
    text-align: right;
    flex-direction: column;
}
#mptitle h1 {
    font-family: 'Life Savers', cursive;
    font-size: 700%;
    padding-top: 3%;
    margin-bottom: 0;
}

/*MP-Center*/
#mpfdbigcenter {
    width: 25%;
    background-color: #032D3C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#centertop {width: 100%;}
.solidrectangle {
    background-color: #FFFFFF;
    width: 170px;
    height: 3px;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 40% ;
}
#centertop h2{
    color: #FFFFFF;
    font-style: italic;
    font-size: 420%;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: 8%;
}
#center {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
#center h2{
    font-style: italic;
    font-size: 250%;
    font-weight: 600;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 0;
}
.mpimg {
    margin-bottom: 0%;
    position: relative;
}
.mpimg img{width: 100%;}
.text-block {
    position: absolute;
    bottom: 81.5%;
    background-color: #3BACB633;
    color: #032D3C;
    width: 100%;
}
.text-block h3 {
    margin: 0;
    font-size: 158%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
}
/*MP-Right*/
#mpfdbigright {
    width: 25%;
    color: #FFFFFF;
    background-color: #032D3C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mpfdbigright .text-block {bottom:1.5%;}
#righttext {
    padding: 10%;
    padding-right: 13%;
    padding-top: 8%;
}
#righttext h4 {
    font-size: 150%;
    font-weight: 700;
    margin-top: 0;
    margin-right: 0;
}
#righttext p {
    font-size: 120%;
    margin-bottom: 10%;
    padding-right: 8%;
    margin-right: 0;
}
#righttext a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 120%;
}
#righttext a:hover {
    text-decoration:underline;
}


/*Foods-Content*/
#fdcontent {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 5%;
}
#fdcontent h2{
    width: 90%;
    font-size: 315%;
    color: #02202C;
}
/*Foods-ContentBox*/
.cbox1 {
    width: 19.5%;
    background-color: #CDC2AE;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
}
.cbox2 {
    width: 19.5%;
    background-color: #CDC2AE;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
}
.cbox3 {
    width: 19.5%;
    background-color: #CDC2AE;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
}
.cbox4 {
    width: 19.5%;
    background-color: #CDC2AE;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
}
#fdcontent img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
#fdcontent h5 {
    font-weight: 700;
    font-size: 120%;
    margin: 8%;
    margin-bottom: 5%;
}
#fdcontent p {
    font-weight: 600;
    font-size: 105%;
    margin: 8%;
    margin-top: 5%;
    padding-bottom: 5%;
}


/*Footer*/
.footer {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #495371;
    flex-direction: column;
    font-family: 'Source Serif 4', serif;
}
.fmenu {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    justify-content: center;
    font-weight: 700;
}
.fmenu a {
    text-decoration: none;
    color: #B6BAC6;
    font-size: 130%;
}
.fmenu a:hover {color: #c0d846;}
.copyr {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
    justify-content: center;
    color: #FFFFFF;
}
.copyr p {
    font-size: 94.5%;
    font-weight: 400;
    margin-top: 2%;
}
.fmenu .homeb {
    display: flex;
    padding-right: 70px;
}
.fmenu .placesb {
    display: flex;
    padding-right: 70px;
}
.fmenu .trainsb {
    display: flex;
    padding-right: 70px;
}
.fmenu .hotelsb {
    display: flex;
    padding-right: 70px;
}
.fmenu .foodsb {
    display: flex;
    padding-right: 70px;
}




@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@media screen and (min-width:700px) {
    /*MainPage-Right*/
    #mpfdbigcenter {display: none;}
    #mpfdbigright {display: none;}
}

@media screen and (max-width:1000px) {

    /*MainPage*/
    .menu {width: 80%;}
    #logo img {width: 25%;}
    #mptitle {
        width: 30%;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 55%;
    }
    #mptitle h1 {font-size: 400%;}

    /*Foods-ContentBox*/
    .cbox1 {
        width: 27%;
        margin-top: 5%;
    }
    .cbox2 {
        width: 27%;
        margin-top: 5%;
    }
    .cbox3 {
        width: 27%;
        margin-top: 5%;
    }
    .cbox4 {
        width: 27%;
        margin-top: 5%;
    }

    /*Footer*/
    .fmenu .homeb {padding-right: 10px;}
    .fmenu .placesb {padding-right: 10px;}
    .fmenu .trainsb {padding-right: 10px;}
    .fmenu .hotelsb {padding-right: 10px;}
    .fmenu .foodsb {padding-right: 10px;}
}



/*Mobile screen size*/
@media screen and (max-width:700px) {

    /*MainPage-Foods*/
    #mainpagefd {
        flex-direction: column;
        width: 100%;
    }
    /*MainPage-Header*/
    #header {margin-top: 5%;}
    #logo img {width: 30%;}
    /*Header-Menu*/
    .menu {margin-top: 2%;}
    .menu a.icon {
        position: absolute;
        right: 10%;
        display: block;
    }
    .menu a {
        display: none;
        font-size: 120%;
    }
    /*Header-Menu-DisplayOut*/
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    /*MainPage-LeftTitle*/
    #mptitle {
        margin-top: 60%;
        margin-left: 0%;
        margin-bottom: 30%;
    }
    #mptitle h1 {
        display: none;
    }
    /*MainPage-Center*/
    #mpfdbigcenter {width: 100%;}
    .mpimg {
        width: 80%;
        margin-top: 10%
    }
    .solidrectangle {
        width: 250px;
        height: 5px;
        margin-top: 8%;
        margin-left: 30% ;
    }
    #centertop h2{
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    /*MainPage-Right*/
    #mpfdbigright {width: 100%;}

    /*Foods-ContentBox*/
    #fdcontent {justify-content: center;}
    #fdcontent h5 {font-size: 150%;}
    #fdcontent p {font-size: 120%;}
    .cbox1 {
        width: 70%;
        margin-left: 0;
        margin-top: 10%;
        margin-right: 5%;
    }
    .cbox2 {
        width: 70%;
        margin-left: 0;
        margin-top: 10%;
        margin-right: 5%;
    }
    .cbox3 {
        width: 70%;
        margin-left: 0;
        margin-top: 10%;
        margin-right: 5%;
    }
    .cbox4 {
        width: 70%;
        margin-left: 0;
        margin-top: 10%;
        margin-right: 5%;
    }

    /*Footer*/
    .fmenu {
        flex-direction: column;
        align-items: center;
    }
    .fmenu a {font-size: 150%;}
    .fmenu .homeb {
        padding-top: 30px;
        padding-right: 0;
    }
    .fmenu .placesb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .trainsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .hotelsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .foodsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .copyr {
        margin-top: 10%;
        padding-bottom: 4%;
        font-size: 100%;
    }
}