body {
    margin: 0;
    font-family: 'Piazzolla', serif;
}

#container {margin: auto;}
h1 {font-weight: 800;}
h2, h3 {font-weight: 700;}
p {font-weight: 400;}
a:hover {
    animation: .5s horizontal-shaking infinite alternate;
}

/*Places-MainPage*/
#mainpagepl {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../images/switzerlandplace.jpg);
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/*P-MP-Header*/
#header {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 1.5%;
    justify-content: space-between;
}
/*Header-Logo*/
#logo {
    width: 50%;
    margin: auto;
    margin-left: 10%;
}
#logo img {width: 13%;}

/*Header-Menu*/
.menu {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 1.5%;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 120%;
}
.menu .icon {display: none;}

/*Header-Menu-DisplayOut*/
.overlay {
    height: 100%;
    /*show for whole screen*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    /*when open use 0.5 second*/
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 189%;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*MenuBox*/
i {
    display: flex;
    color: #FFFFFF;
    padding-left: 20px;
}
.homeb {
    display: flex;
    padding-left: 20px;
}
.placesb {
    display: flex;
    padding-left: 20px;
}
.trainsb {
    display: flex;
    padding-left: 20px;
}
.hotelsb {
    display: flex;
    padding-left: 20px;
}
.foodsb {
    display: flex;
    padding-left: 20px;
}

/*P-MP-Content*/
#mpcontent {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 9%;
    margin-top: 17%;
    margin-bottom: 2%;
    margin-left: 28%;
    color: #FFFFFF;
    text-align: center;
}
#mpcontent h1 {
    font-family: 'Life Savers', cursive;
    font-size: 525%;
    padding-top: 8%;
    margin-bottom: 0;
}


/*BestPlaces*/
#bestplace {
    display: flex;
    width: 90%;
    margin: 0;
    flex-direction: column;
    margin-top: 3%;
}
#bestplace h2{
    font-weight: 400;
    font-size: 255%;
    margin-left: 15%;
    margin-bottom: 3%;
}

/*BestPlaces-Content*/
.bestplacecontent {
    padding-left: 15%;
    width: 95%;
    display: flex;
    margin-bottom: 2%;
    margin-top: 1%;
}
.bestplacecontent .pimage img {
    margin-top: 3%;
}
.pimage {width: 40%;}
.pimage img{width: 100%;}
.ptext {
    width: 40%;
    margin-left: 6%;
}
.ptext h3 {font-size: 150%;}
.ptext p {
    font-size: 120%;
    padding-right: 12%;
}
.bestplacecontent1 {
    background-color: #2EB0861C;
    padding-left: 12%;
    width: 99%;
    display: flex;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*Footer*/
.footer {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #495371;
    flex-direction: column;
    font-family: 'Source Serif 4', serif;
    margin-top: 3%;
}
.fmenu {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    justify-content: center;
    font-weight: 700;
}
.fmenu a {
    text-decoration: none;
    color: #B6BAC6;
    font-size: 130%;
}
.fmenu a:hover {
    color: #c0d846;
}
.copyr {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
    justify-content: center;
    color: #FFFFFF;
}
.copyr p {
    font-size: 94.5%;
    font-weight: 400;
    margin-top: 2%;
}
.fmenu .homeb {
    display: flex;
    padding-right: 70px;
}
.fmenu .placesb {
    display: flex;
    padding-right: 70px;
}
.fmenu .trainsb {
    display: flex;
    padding-right: 70px;
}
.fmenu .hotelsb {
    display: flex;
    padding-right: 70px;
}
.fmenu .foodsb {
    display: flex;
    padding-right: 70px;
}




@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@media screen and (min-width:1000px) {
    .ptext p {
        line-height: 155%;
    }
}
@media screen and (max-width:1000px) {

    /*Places-MainPage*/
    .menu {width: 80%;}
    #logo img {width: 25%;}
    #mpcontent {
        width: 80%;
        margin-top: 30%;
        margin-bottom: 3%;
        margin-left: 20%;
    }
    #mpcontent h1 {font-size: 400%;}

    /*BestPlaces-Content*/
    #bestplace h2{margin-left: 5%;}
    .bestplacecontent {margin-left: 0;}
    .pimage {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .ptext {width: 50%;}
    .ptext h3 {
        margin-bottom: 4%;
        margin-top: 2%;
    }
    .ptext p {
        padding-right: 0;
    }
    .bestplacecontent1 .ptext p{
        padding-right: 12%;
    }

    /*Footer*/
    .fmenu .homeb {padding-right: 10px;}
    .fmenu .placesb {padding-right: 10px;}
    .fmenu .trainsb {padding-right: 10px;}
    .fmenu .hotelsb {padding-right: 10px;}
    .fmenu .foodsb {padding-right: 10px;}
}



/*Mobile screen size*/
@media screen and (max-width:700px) {

    /*Places-MainPage*/
    #mainpagepl {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../images/switzerlandplacesmall.jpg);
    }
    /*P-MP-Header*/
    #header {margin-top: 5%;}
    #logo img {width: 30%;}
    /*Header-Menu*/
    .menu {margin-top: 2%;}
    .menu a.icon {
        position: absolute;
        right: 10%;
        display: block;
    }
    .menu a {
        display: none;
        font-size: 120%;
    }
    /*Header-Menu-DisplayOut*/
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    /*P-MP-Content*/
    #mpcontent {
        margin-top: 60%;
        margin-left: 12%;
        margin-bottom: 6%;
    }
    #mpcontent h1 {
        font-size: 360%;
        padding-right: 5%;
    }

    /*BestPlaces-Content*/
    #bestplace h2{margin-left: 8%;}
    .bestplacecontent {
        margin-left: 0;
        width: 70%;
        flex-direction: column;
        margin-bottom: 8%;
        margin-top: 5%;
    }
    .bestplacecontent .pimage {
        width: 108%;
        margin-left: 7%;
    }
    .pimage img{
        border-radius: 10px;
        width: 115%;
    }
    .bestplacecontent .ptext  {
        width: 110%;
    }
    .ptext h3 {
        margin-bottom: 4%;
        margin-left: 0;
        margin-top: 6%;
        text-align: center;
    }
    .ptext p {
        margin-top: 3%;
    }
    .bestplacecontent1 {
        margin-left: 0;
        flex-direction: column-reverse;
        margin-bottom: 8%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .bestplacecontent1 .pimage {
        width: 78%;
        margin-left: 7%;
    }
    .bestplacecontent1 .ptext {
        width: 80%;
    }
    .bestplacecontent1 .ptext p {
        padding-right: 0;
        margin-top: 3%;
    }

    /*Footer*/
    .fmenu {
        flex-direction: column;
        align-items: center;
    }
    .fmenu a {font-size: 150%;}
    .fmenu .homeb {
        padding-top: 30px;
        padding-right: 0;
    }
    .fmenu .placesb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .trainsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .hotelsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .fmenu .foodsb {
        padding-top: 20px;
        padding-right: 0;
    }
    .copyr {
        margin-top: 10%;
        padding-bottom: 4%;
        font-size: 100%;
    }
}