body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

font-family: 'Inter', sans-serif;
font-family: 'Life Savers', cursive;
font-family: 'Source Serif 4', serif;

#container {margin: auto;}
h1 {font-weight: 800;}
h2, h3 {font-weight: 700;}
p {font-weight: 500;}

/*MainPage*/
#mainpage {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../images/mainpage/mainbackground.jpg);
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/*MP-Header*/
#header {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 1.5%;
    justify-content: space-between;
}
/*Header-Logo*/
#logo {
    width: 50%;
    margin: auto;
    margin-left: 10%;
}
#logo img {width: 13%;}

/*Header-Menu*/
.menu {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 1.5%;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 110%;
}
.menu a:hover {animation: .5s horizontal-shaking infinite alternate;}
.menu .icon {display: none;}

/*Header-Menu-DisplayOut*/
.overlay {
    height: 100%;
    /*show for whole screen*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    /*when open use 0.5 second*/
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*MenuBox*/
i {
    display: flex;
    color: #FFFFFF;
    padding-left: 20px;
}
#homeb {
    display: flex;
    padding-left: 20px;
}
#placesb {
    display: flex;
    padding-left: 20px;
}
#trainsb {
    display: flex;
    padding-left: 20px;
}
#hotelsb {
    display: flex;
    padding-left: 20px;
}
#foodsb {
    display: flex;
    padding-left: 20px;
}

/*MP-Content*/
#mpcontent {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 6%;
    margin-left: 8%;
    color: #FFFFFF;
}
.solidrectangle {
    background-color: #FFFFFF;
    width: 90px;
    height: 15px;
}
#mpcontent h1 {
    font-family: 'Life Savers', cursive;
    font-size: 525%;
    margin-top: 6%;
    margin-bottom: 7%;
}
#mpcontent p {
    font-size: 83%;
    line-height: 160%;
    margin: 0;
}
/*MP-Content-Button*/
#mpcontent a{
    text-decoration: none;
    color: #FFFFFF;
}
#mpcontent a .btn {
    width: 140px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 13px;
    margin-top: 7%;
}
#mpcontent a .btn:hover{
    animation: .5s horizontal-shaking infinite alternate;
    text-decoration:underline;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}


/*About*/
#about {
    display: flex;
    width:100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 4%;
}
#acontent {
    display: flex;
    width: 36.5%;
    margin: auto;
    margin-left: 8%;
    flex-direction:column ;
}
#acontent h2 {font-size: 230%;}
#aimg {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 4%;
}


/*ThingsNeed2Know*/
#know {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    margin-left: 8%;
    margin-right: 0;
    border-top: 5px solid #033571;
    border-bottom: 5px solid #033571;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}
#know h2 {font-size: 230%;}
#kcontent {
    width: 100%;
    display: flex;
    margin: auto;
}
.contentb {
    display: flex;
    flex-direction: column;
    width: 21%;
    margin: 2%;
    margin-left: 0;
    margin-right: 3%;
}




@media screen and (max-width:1000px) {

    /*MainPage*/
    .menu {width: 80%;}
    #logo img {width: 25%;}
    #mpcontent h1 {font-size: 400%;}
    #mpcontent p {font-size: 85%;}
    .menu a {font-size: 95%;}

    /*About*/
    #about {flex-direction: column;}
    #acontent {width: 80%;}
    #aimg {width: 80%;}

    #kcontent {flex-wrap: wrap;
    justify-content: center;}
    .contentb {width: 40%;}
}



/*Mobile screen size*/
@media screen and (max-width:700px) {

    /*MainPage-Header*/
    #header {margin-top: 5%;}
    #logo img {width: 30%;}
    /*Header-Menu*/
    .menu {margin-top: 2%;}
    .menu a.icon {
        position: absolute;
        right: 10%;
        display: block;
    }
    .menu a {
        display: none;
        font-size: 120%;
    }
    /*Header-Menu-DisplayOut*/
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    /*MainPage-Content*/
    #mpcontent {
        width: 50%;
        margin: 20%;
        margin-left: 8%;
        margin-bottom: 23%;
    }
    .solidrectangle {
        width: 65px;
        height: 10px;
        margin-bottom: 10%;
    }
    #mpcontent p {font-size: 95%;}
    #p1 {display: none;}
    .btn {
        width: 110px;
        height: 35px;
        margin-top: 15%;
        font-size: 85%;
    }

    #know {
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .contentb {width: 75%;}

}