body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    margin: 0;
    max-width: 1220px;
}



/*Page1-Mainpage*/
#mainpage {
    background-image: url("../images/homework/Bg\ Shape@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    text-align: center;
    padding: 10px;
    margin: auto;
    background-size: 55%;
}

/*Header*/
.header {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
}

/*H-Logo*/
#logo {
    display: flex;
    height: 100px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-left: 15%;
}

#logo h1 {
    padding-left: 10px;
}

/*H-Menu*/
#menu {
    display: flex;
    text-align: right;
    width: 50%;
    margin: auto;
    justify-content: center;
}

#menu a {
    text-decoration: none;
    color: white;
}

/*MenuBox*/
#homeb {
    display: flex;
    padding-left: 20px;
}

#serviceb {
    display: flex;
    padding-left: 20px;
}

#priceb {
    display: flex;
    padding-left: 20px;
}

#contactb {
    display: flex;
    padding-left: 20px;
}

/*Page1-Content*/
.hcontent {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    height: 600px;
}

/*C-Side*/
#hside {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10%;
    position: absolute;

}

#hside img {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/*C-Text*/
#htext {
    margin-top: 9%;
    text-align: justify;
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-left: 5%;
    position: relative;
}

#htext h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    margin-left: 2%;
}

#htext h1 {
    font-size: 50px;
    font-weight: 800;
    margin: 1%;
}

#htext p {
    margin: 1%;
    margin-left: 2%;
    --bs-text-opacity: 1;
    color: #6c757d !important;
    font-weight: 100;
}

#htext img {
    position: absolute;
    border: 2px;
    bottom: 0;
    left: 115%;
    border-color: whitesmoke;
    padding: 15px;
    border-radius: 50px;
    border-style: solid;
    height: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#htext button {
    background-image: url(../images/homework/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border: none;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 50px;
}

/*C-Image*/
#himage {
    display: flex;
    width: 100%;
    background-image: url("../images/homework/Group\ 1423@2x.png");
    background-repeat: no-repeat;
    background-size: 79% 90%;
    background-position: right;
    margin-right: 10%;
}



/*Page2-About*/
.about {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    height: max-content;
}

/*Left-Image*/
#aimg {
    display: flex;
    margin: auto;
    width: 45%;
    background-image: url("../images/homework/aboutimg.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 85% 90%;
    margin-right: 0;
    margin-left: 5%;
}

/*Right-Text*/
#atext {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    padding-right: 0;
    width: 32%;
    margin: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8%;
}

#atext h3 {
    color: rgb(105, 105, 216);
    font-size: large;
    margin: 0;
    margin-left: 2%;
    font-weight: 100;
}

#atext h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 2%;
}

#atext p {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2%;
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

#atext button {
    background-image: url(../images/homework/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    border: none;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 50px;
}



/*Page3-Service*/
#service {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: max-content;
}

/*S-Title*/
.stitle {
    margin-left: 11%;
    display: flex;
    flex-direction: column;
}

.stitle h2 {
    color: rgb(105, 105, 216);
    font-size: larger;
    margin: 0;
    margin-bottom: 1%;
    font-weight: 100;
}

.stitle h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

/*S-Box Contant*/
.scontent {
    margin-left: 6%;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    width: 90%;
    margin-bottom: 15%;
}

.box {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 26%;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-top: 8%;
    position: relative;
    border-radius: 35px;
}

.box img {
    display: flex;
    width: 28%;
    justify-content: center;
    margin-left: 35%;
    margin-top: 3%;
}

.box h4 {
    padding-left: 20px;
    margin-bottom: 5%;
}

.box p {
    padding-left: 20px;
    padding-top: 0%;
    padding-right: 1.5px;
}

.box button {
    background-image: url(../images/homework/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 25%;
    border: none;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 50px;
    bottom: 3%;
    right: 9%;
}



/*Page4-Pricing*/
#price {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    height: max-content;
    background-color: #ECEAFF;
}

/*P-Title*/
#ptitle {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#ptitle h2 {
    color: rgb(105, 105, 216);
    font-size: larger;
    margin: 0;
    margin-bottom: 1%;
    font-weight: 100;
}

#ptitle h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

/*P-Content*/
#pcontent {
    width: 100%;
    height: max-content;
    margin-top: 5%;
    transform: translateX(-1%)
}

#pslider {
    display: flex;
}

.pbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: auto;
    border-radius: 35px;
    background-color: white;
    height: 500px;
    position: relative;
}

.pbox h2 {
    margin-top: 15%;
    font-size: 30px;
    font-weight: 100;
}

.pbox h3 {
    color: blue;
    font-size: 25px;
    font-weight: 900;
}

.pbox p {
    padding-right: 50px;
    padding-left: 50px;
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.pbox button {
    background-color: white;
    position: absolute;
    width: 45%;
    border: 2px;
    border-color: rgb(105, 105, 216);
    border-style: solid;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 50px;
    bottom: 10%;
    right: 25%;
}

.pbox button:hover {
    background-image: url(../images/homework/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: none;
}

.pdots {
    margin-top: 5%;
    display: inline-block
}

.controller {
    height: 4px;
    width: 4px;
    border: 1px;
    background-color: #ECEAFF;
    border-color: rgb(107, 107, 213);
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
}

.controllers {
    height: 15px;
    width: 15px;
    background-color: rgb(94, 108, 189);
    border-radius: 50%;
    display: inline-block;
}



/*Page5-Contact&Footer*/
#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

/*C-Subscribe*/
.cemail {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 8%;
}

.cemail h2 {
    color: rgb(105, 105, 216);
    font-size: larger;
    margin: 0;
    margin-bottom: 1%;
    font-weight: 100;
}

.cemail h1 {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

.form-inline {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-inline input {
    vertical-align: middle;
    margin: 10px 0;
    padding: 13px 9px;
    width: 50%;
    background-color: #F6F7FB;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 5%;
}

.form-inline button {
    background-image: url(../images/homework/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 5%;
}

.form-inline button:hover {
    background-color: royalblue;
}

/*C-Footer*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-image: url(../images/homework/Bg\ Shape\ footer\ 1-1@2x.png), url("../images/homework/Bg\ Shape\ footer\ 3@2x.png"), url("../images/homework/Bg\ Shape\ footer\ 2-1@2x.png");
    background-position: left bottom, right bottom, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 108%, 29%, 100%;
}

.fbox {
    margin-top: 28%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 28%;
    color: white;
    bottom: 10%;
    height: 180px;
}

.fbox h1 {
    font-weight: 400;
    margin: 2%;
    margin-left: 15%;
}

.fbox h2 {
    font-weight: 400;
    margin: 2%;
}

.fbox h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 3%;
}

.fbox p {
    margin: 3%;
}
.fimg img {
    width: 4.5%;
    padding: 10px;
    height:33%;
}
.fbox .fimg {
    display: flex;
    flex-direction: row;
    width: 100%;
}


@media screen and (max-width: 600px) {

    #mainpage {
        background-image: none;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    #menu a {
        text-decoration: none;
        color: black;
    }
}